<html>
<head>
    <title>测试Ajax</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

    <style type="text/css">
#result{
    border: 10px;
    font-size: 50px;
    background: white;
}


    </style>
</head>
<body>
    <form>
    <input type="text" id="word" > <br>
    <button id="foo" type="button">点击</button>
  </form>
    <div id="result">
      {% for comment in comments%}
      <span>{{comment['comment']}}</span><span>{{comment['time']}}</span></br>
      {% end %}
      <!-- <li>first</li> -->
      <!-- <li>second</li> -->
    </div>


<!-- <script type="text/javascript">
    $("#foo").click(function()
    {
        var word = $("#word").val(); //获取文本框的输入
        if(word==""){
            alter("please input")
        }
        //把word发给后台php程序
        //返回的数据放在data中，返回状态放在status
        $.post("/test",{message:word}, function(data,status){
            if(status == "success")
            {
                // $("#result").html(data);
                // var newf = "<li>"+data+"</li>"
                var newf = $("<li></li>").text(data);
                $('#result').prepend(newf)
            }
            else
            {
                alert("Ajax 失败");
            }
        });
    });


</script> -->
<script type="text/javascript">
$(document).ready(function(){
    $('#foo').click(function(){
      var vv = $('#word').val();
      var pd = {'vv':vv};
      if (vv){
      // alert($('#word').val());
      $.ajax({
          type:"post",
          url:"/ajax",
          data:pd,
          cache:false,
          dataType: 'json',
          success:function(data){
            var newitem = "<span>"+data.comment+"</span><span>"+data.time+"</span></br>"
            $('#result').prepend(newitem);
            // alert(data.comment)
          },
          error:function(data){
            alert('error!');
          },
      })
      }
      else{
        alert('nothing');
      }
    })
})
</script>

</body>
</html>
