{% extends "home.html" %}
{% block main %}
<script type="text/javascript">
$(document).ready(function(){
	$("#checkall").click(function(){
		var a = $("#foo").val();
		var str = window.location.href
		// var num = str.indexOf("/")
		var strs = new Array()
		strs = str.split('/')
		// alert(strs[3])
		if (a){
			$.ajax({
          type:"post",
          url:"/comment",
          data:{'comment':a,'id':strs[3]},
          cache:false,
          dataType: 'json',
          success:function(data){
            // var newitem = "<span>"+data.comment+"</span><span>"+data.time+"</span></br>"
            // $('#result').prepend(newitem);
						var item = '<div class="reply-item"><div class="main"><div class="meta"><a class="reply-name"><span class="username">'+data.user+'</span></a>'
						item += '<span class="time">'+data.time+'</span></div>'
						item += '<span class="content"><p>'+ data.comment + '</p></span></div></div>'
						$('#reply').prepend(item);
						// alert(data.comment+data.user+data.time+data.id)
          },
          error:function(data){
            alert('error');
          },
      })
		}
		else{
			alert('请输入内容');
		}
	});
});
</script>
<div class="topic-detail containers-box">
<div class="ui-header">
<h3 class="title">{{one['title']}}</h3>
<div class="meta">
<span>{{one['author']}}</span>
<span>{{one['posttime']}}</span>
</div>
</div>
<div class="ui-content"><p>{{one['content']}}</p></div>
</div>
{% if comments %}
<div class="topic-reply containers-box mt10">
<div class="ui-content" id="reply">
{% for i in comments %}
	{% module Reply(i) %}
{% end %}
</div>
</div>
{% end %}
{% if not current_user %}
<div class="topic-reply-create containers-box mt10">
<div class="ui-header">
<span class="title">登录后即可参与回复</span>
</div>
<div class="ui-content">
<a class="btn btn-small mt5 mr10" title="button" href="/login">登录</a>
<a class="btn btn-small mt5" type="button" href="/register">注册</a>
</div>
</div>
{% else %}

<div class="topic-reply-create containers-box mt10">
<div class="ui-header">
{% if mistake %}
<span style="color:red">{{mistake}}</span></br>
{% end %}
<span class="title">创建新的回复</span>
</div>
<div class="ui-content">
<!-- <form class="mt10" action method="post"> -->
<form class="mt10">
<textarea rows="3" class="content mt5 smart-code-support J_replyContent" placeholder="回复内容"  id="foo"></textarea>

<input  type="submit" id="checkall" class="btn btn-small" value="立即回复">
</form>
</div>
</div>
{% end %}
{% end %}

{% block sidebar %}
{% end %}
